
<div class="divForm mt-4 p-2">
    <h2 class="bg-info">Product Details</h2>
    <div class="form-group">
        <label for="pname">Product Name</label>
        <input [(ngModel)]="product" type="text"  id="pname" class="form-control">
    </div>
    <div class="form-group">
        <label for="pDetails">Product Details</label>
        <input [(ngModel)]="details" type="text"  id="pDetails" class="form-control">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="onAddHandler()">Add</button>
    </div>
</div>
